/* Your custom fonts here */
@import "libraries/bourbon/bourbon";

// Example
//https://edgewebfonts.adobe.com/help#using-fonts-in-css
// 100 -> Thin, Hairline
// 200 -> Extra Light
// 300 -> Light
// 400 -> Normal, Book
// 500 -> Medium
// 600 -> Semibold, Demibold
// 700 -> Bold
// 800 -> Heavy, Extra Bold
// 900 -> Black

@include font-face("PH", "../fonts/PH-CondCaps/PH-300CondCaps_0", $file-formats: eot svg ttf woff){
  font-style: normal;
  font-weight: 400;
};

@include font-face("Tahoma", "../fonts/Tahoma/tahoma", $file-formats: eot otf svg ttf woff){
  font-style: normal;
  font-weight: 400;
};
@include font-face("Tahoma", "../fonts/Tahoma/tahomabd", $file-formats: eot otf svg ttf woff){
  font-style: normal;
  font-weight: 700;
};

@include font-face("BebasNeue", "../fonts/BebasNeue/BebasNeueRegular", $file-formats: eot otf svg ttf woff){
  font-style: normal;
  font-weight: 400;
};
@include font-face("BebasNeue", "../fonts/BebasNeue/BebasNeue Bold", $file-formats: eot otf svg ttf woff){
  font-style: normal;
  font-weight: 700;
};
@include font-face("BebasNeue", "../fonts/BebasNeue/BebasNeue Book", $file-formats: woff){
  font-style: normal;
  font-weight: 500;
};
