mixin popup(data)
    .popup
        form(id="callback" class="popup-main mfp-hide")
            p.popup-main__title Закажите звонок
            p.popup-main__titleSub Наши специалисты свяжутся с Вами в ближайшее время

            .form-group
                input.form-control(placeholder='Введите ваше Ф.И.О.')
            .form-group.form-group__required
                input.form-control(placeholder='Укажите номер вашего телефона', type='tel')

            .form-group
                button.btn.btn-yellow Заказать звонок

            small.color-white Отправляя данные, вы даете согласие на обработку персональных данных в соответствии с #[a(href='/policy') политикой конфиденциальности]

        form(id="popup-login" class="popup-main mfp-hide")

            .popup-main__titleTable
                .popup-main__titleTable-cell
                    span.popup-main__title Авторизация
                .popup-main__titleTable-cell
                    a(href='#popup-registration').popup-link.not-styleLink.color-white: span.color-white__title.color-white__title_viewBorder.popup-main__titleLink.color-white__title_dashed Регистрация
            br

            .form-group.form-group__required
                input.form-control(placeholder='Адрес эл. почты')
            .form-group.form-group__required
                input.form-control(placeholder='Укажите пароль')

            .form-group
                button.btn.btn-width.btn-yellow Войти в личный кабинет

            .text-center
                a(href='#').not-styleLink.color-white: span.color-white__title.color-white__title_dashed.color-white__title_viewBorder Забыли пароль?

        form(id="popup-registration" class="popup-main mfp-hide")
            .popup-main__titleTable
                .popup-main__titleTable-cell
                    span.popup-main__title Регистрация
                .popup-main__titleTable-cell
                    a(href='#popup-login').popup-link.not-styleLink.color-white: span.color-white__title.color-white__title_viewBorder.popup-main__titleLink.color-white__title_dashed Авторизация
            br

            .form-group
                input.form-control(placeholder='Введите ваше Ф.И.О.')
            .form-group.form-group__required
                input.form-control(placeholder='Адрес эл. почты')
            .form-group.form-group__required
                input.form-control(placeholder='Укажите номер вашего телефона', type='tel')

            .form-group
                button.btn.btn-yellow.btn-width Зарегистрироваться

            small.color-white Отправляя данные, вы даете согласие на обработку персональных данных в соответствии с #[a(href='/policy') политикой конфиденциальности]

